#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
}
.modal {
  background-color: rgb(241, 240, 240);
  display: flex;
  flex-direction: column;
}

.heading {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: rgb(21, 214, 214);
  color: white;
  font-size: medium;
}

.backicon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  cursor: pointer;
}

.btn-div {
  width: 120px;
  height: 50px;
  background-color: rgb(21, 214, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
.btn-div button {
  width: 100%;
  height: 100%;
  background-color: rgb(21, 214, 214);

  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.input-text {
  padding-right: 200px;
}
.input-box {
  width: 80%;
}
.usertraits {
  display: flex;
  justify-content: flex-end;
}
.dot-container {
  width: 80px;
  height: 40px;
}
.dot {
  width: 10px; /* Adjust size between 8px - 12px */
  height: 10px;
  border-radius: 50%;
}
.Schema-input {
  margin-top: 20px;
}
/* Red dot */
.group {
  background-color: red;
}

/* Green dot */
.user {
  background-color: green;
}

.add-btn {
  padding: 10px;
  height: 25px;
  background-color: rgb(241, 240, 240);
  border: transparent;
  cursor: pointer;
  color: blue;
}
.schemas {
  width: 80%;
  height: 35px;
}

.schema-input {
  width: 80%;
  height: 25px;
  margin: 5px;
}
.Schema-input-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.removeicon {
  cursor: pointer;
}
.save-btn {
  width: 130px;
  height: 35px;
  background-color: rgb(21, 214, 214);
  color: white;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}
.cancel-btn {
  width: 80px;
  height: 25px;
  border: transparent;
  border-radius: 5px;
  background-color: white;
  color: red;
  cursor: pointer;
}
